.receive{
  position: relative;
  margin-right: 1.7rem;
  display: flex;
  align-items:center;
}
.avatar{
  margin: 0 1rem;
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}
.chat{
  max-width: 14rem;
  padding: .5rem .8rem;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 3px;
  font-size: .6rem;
  color: #333333;
  line-height: 1.2rem;
}
.arrow{
  position: absolute;
  z-index: 3;
  transform: rotate(45deg);
  margin: auto;
  top: 0;
  bottom: 0;
  left: 3.2rem;
  width: .6rem;
  height: .6rem;
  background: #FFFFFF;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}